@import "../../scss/variables.scss";

.no-photos-component {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  svg {
    width: 150px;
  }

  .text-no-photos {
    font-size: 25px;
    font-family: $main_font;
    text-align: center;
  }
}
@media (min-width: 930px) {
  .no-photos-component {
    margin-top: 40px;
    svg {
      width: 250px;
    }

    .text-no-photos {
      font-size: 35px;
    }
  }
}

@media (min-width: 930px) {
  .no-photos-component {
    margin-top: 70px;
  }
}
