.text_entrance {
  animation: textEntrance 0.8s ease forwards;
  animation-delay: 0.5s;
}

@keyframes textEntrance {
  from {
    transform: translateX(300px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.downEntrance {
  animation: downEntrance 0.5s ease forwards;
}

@keyframes downEntrance {
  from {
    opacity: 0;
    transform: translate(-50%, 300px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.rightEntrance {
  animation: rightEntrance 0.5s ease forwards;
}

@keyframes rightEntrance {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.leftEntrance {
  animation: leftEntrance 0.5s ease forwards;
}

@keyframes leftEntrance {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.loading {
  animation: Loading 0.5s linear infinite;
}

@keyframes Loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
