$primary_color: #2441C9;
$accent_color: #E91962;
$danger_color: #F00000;
$facebook_color: #3B5998;
$white_color: #ffffff;
$dark_color: #222222;
$primary_gradient: linear-gradient(180deg, #E91962 23.44%, #2441C9 100%);