@import "./components/Banner/Banner.scss";
@import "./components/Gallery/Gallery.scss";

.home_page_container.fadeIn {
  padding-top: 60px;
  animation-duration: 0.5s;
}

@media (min-width: 1100px) {
  .home_page_container.fadeIn {
    padding-top: 90px;
  }
}
