@import "./pages/login/LoginPage.scss";
@import "./pages/home/Home.scss";
@import "./pages/register/Register.scss";
@import "./pages/profile/Profile.scss";
@import "./pages/edit-profile/EditProfile.scss";
@import "./pages/upload-photo/UploadPhoto.scss";
@import "./pages/search-page/SearchPage.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.bounce_menu {
  animation: bounce 0.2s ease-in-out;
  animation-delay: 0s;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
