@import "../../scss/variables.scss";

.slider_image_component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  background-color: rgba($color: #000000, $alpha: 0.65);
  transition: opacity 0.3s ease, visibility 0.3s ease;

  .image_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 1000px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }


  .controls {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
    width: 90%;
    display: flex;
    justify-content: space-between;

    button {
      display: block;
      width: 30px;
      cursor: pointer;
      height: 30px;
      border: none;
      background-color: transparent;
      outline: none;

      svg {
        fill: $white_color;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slider_image_component.visible {
  opacity: 1;
  visibility: visible;

  .image_container.on {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 600px) {
  .slider_image_component {
    .image_container {
      width: 45%;
    }
  }
}

@media (min-width: 920px) {
  .slider_image_component {
    .image_container {
      width: 35%;
    }
  }
}

@media (min-width: 1300px) {
  .slider_image_component {
    .image_container {
      width: 45%;
    }
    .controls {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: unset;

      button {
        width: 45px;
        height: 45px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .slider_image_component {
    .image_container {
      width: 65%;
    }
  }
}
